.lineup{
  height:40px;
}

.btn-primary:click{
  opacity: 0.8;
}

textarea{
  white-space: pre-line;
}

.to-bottom{
  bottom: 0px;
  position: relative;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.5s;
}
.fade-enter, .fade-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  /* transform: translateY(30px); */
}

.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
}

.centerme{
  margin: 0 auto;
  width: 150px;
}

.ad_block_footer{
  width:100%;
}

.ad_block_footer a{
  display: inline-block;
  width: 48%;
}

.top-buffer { margin-top:55px; }

.img-sm{
  width:25px;
  height:25px;
  position: relative;
  top:-3px;
  float:right;
}

.img-md{
  width:50px;
  height:50px;
  position: relative;
  top:-3px;
  float:right;
}

.img-lg{
  width:150px;
  height:150px;
  margin-top:35px;
  margin-bottom:45px;
}

.list-group-item:hover{
  /* cursor:pointer; */
}

.list-group-item-icon{
  margin-right:5px;
}

.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  transition: opacity 1s
}

.list-item {
  display: inline-block;
  transition: all 0.5s;
}
.list-enter-active, .list-leave-active {
  transition: all 0.5s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.photo img{
  width:150px;
  height:150px;
  margin: 0 auto;
  position: relative;
}

.pre-icon{
  margin-right:5px;
}

.retainlinebreaks{
  white-space: pre-line;
}

.navtop{
  position: fixed;
  top: 0px;
  width:100%;
  z-index: 999;
}

.navmargin{
  position: relative;
  height:51px;
}

.v-center {
  position: relative;
  top: 120px;
  right:10px;
}

.login{
  margin-top:80px;
}

.a-centered{
  width:250px;
  margin:auto;
}

.notice a{
  /*border: 1px solid #840;*/
  background-color: #444;
  color:white;
  font-weight: bold;
}

.notice a:hover{
  /*border: 1px solid #840;*/
  background-color: #840;
  color:white;
  font-weight: bold;
}

.notice-inverse a{
  /*border: 1px solid #840;*/
  background-color: #840;
  color:white;
  font-weight: bold;
}

.notice-inverse a:hover{
  /*border: 1px solid #840;*/
  background-color: #444;
  color:white;
  font-weight: bold;
}

.employer-btn{
  position: absolute;
  right:7px;
  top:7px;
  z-index: 999;
}

.top-menu li a {
  font-size: 14px;
  font-weight: bold;
}

.top-menu li:hover {
  font-size: 14px;
  font-weight: bold;
}

.logo{
  height:100px;
  width:275px;
  position:absolute;
  background-color: #840;
  top:-10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border:1px dashed #ccc;
  padding:0px 10px;
  margin-left:5px;
  z-index: 999;
}


.logo-icon{
  background-image: url('/images/icon.png');
  height:48px;
  width: 48px;
  margin-top: 30px;
  margin-left:15px;
  position: relative;
  float:left;
}

.logo h2{
  margin-top: 0px;
  margin-left: 60px;
  line-height: 80%;
}

.logo *, .logo-small{
  color:white;
}


.logo-small{
  width: 250px;
  margin-left:5px;
  height:100%;
  position: relative;
  margin-top:12px;
  margin-left: 5px;
}

.logo *:hover, .logo-small *:hover{
  color:white;
  text-decoration: none;
}

.main_image {
  margin-top:0px;
  background-image: url('/images/slides/s1.jpg');
  background-size:cover;
  /*height: 310px;*/
  /*height: 378px;*/
  height: 300px;
  width:100%;
}

.phrase {
  display: none;
  left: 0px;
  top: 35px;
  height: 230px;
  position: relative;
  width: 600px;
  background-color: #555;
  padding: 1px 15px 10px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.phrase h1 {
  display:none;
  font-weight: bold;
  color:white;
}

.phrase p {
  display:none;
  color:white;
}

.todo {
  left: 0px;
  top: 150px;
  position: relative;
  width: 600px;
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
  display: none;
}

.todo a{
  border-radius:0px;
  float:right;
  /*border:1px dashed #ccc;*/
  padding:20px;
  width:50%;
}

.header{
  margin:25px 0;
}

.center{
  margin:0 auto;
}

.fullwidth .list-group-item{
  width: 100%;
}

.panel, .btn, .list-group-item, .list-group{
  border-radius: 0px;
}

.call-to-action {
  position: relative;
  height: 45px;
  width: 100%;
  background-color: #840;
  vertical-align: middle;
  margin-bottom: 25px;
}

.call-to-action .user-link {
  color:white;
  font-weight:normal;
  position: relative;
  top:12px;
  width:150px;
}

.call-to-action .dropdown-menu {
  margin-top: 15px;
}

.call-to-action .btn-login {
  color:black;
  position: relative;
  top:5px;
}
.ads-image-xs{
  width:35px;
  height: 35px;
  margin-right: 10px;
}

.ads-image-s{
  width:100px;
  height: 100px;
}

.ads-image-m{
  width:185px;
  height: 185px;
}

.ads-image-l{
  width:200px;
  height: 200px;
}

.ad_photo img{
  width:100%;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.login{
  margin-top:60px;
}

.profile-small img{
  position: relative;
  float: right;
  height: 80px;
  width: 80px;
  margin-left:15px;
}

.modal {
  text-align: center;
}

.profile img{
  width:100%;
  width:100%;
  height:auto;
}

.select-skills, .select-places, .select-categories{
  width: 100%;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.footer .divider{
  height:50px;
  background-color: #222;
  margin-bottom: 80px;
}

.footer-wrapper{
  background-color: #3c3d41;
  height:400px;
  margin-top:60px;
}

.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
  /*font-family: 'Glyphicons Halflings';*/
  /*content: "e072"; /* "play" icon */*/
  float: right;
  color: #F58723;
  font-size: 18px;
  line-height: 22px;
  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #454444;
}

.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-body .body{
  margin-top: 25px;
}

.left{
  margin-right: 40px;
}

.right{
  margin-left: 40px;
}


.chat li .chat-body p
{
  margin: 0;
  /* color: #777777; */
}

.chatscroll{
  overflow: auto;
  max-height: 450px;
}

.left .well{
    background: #f0f0f0;
}

.right .well{
    background: #ccc;
}


.profile-menu span{
  margin-right:10px;
}

.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255,255,255,1.00);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
